h1 {
  text-align: center;
  font-size: 22px;
  
  }
  
  [href="index.html"]{
  font-style: italic;
  }
  
  #z1 {
  text-align: center;
  }
   article{
     font-size:120%
     }
  .big{
    font-size:120%
  }
  .big2{
    font-weight:bold;
  }
  [href='#up']{
    text-transform:uppercase;
    text-decoration: none;
  }
  #bi{
  background-color: blue;
  color: yellow;
  border: 1px solid royal;
  border-radius: 5px;
  }
  #di{
  background-color: magenta;
  color: aqua;
  border: 1px solid #ff4500;
  border-radius: 5px;
  }
  #ska{
  background-color: green;
  color: cyan;
  border: 1px solid #1e90ff;
  border-radius: 5px;
  }
  #neska{
  background-color: maroon;
  color: #ff1393;
  border: 1px solid #cd5c5c;
  border-radius: 5px;
  }
  #sharaga{
  background-color: orange;
  color: #5F9EA0;
  border: 1px solid #f08080;
  border-radius: 5px;
  }
  .hyper {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: white;
  outline: none;
  border: 2px solid #2e17ef;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#176bef, royalblue 48%, blue 52%, #17d8f0);
}
	 
    
    .hyper:hover {
    text-decoration: none;
    background:  magenta;
    color: navy;
	border: 2px solid #ff4500;
	border-radius: 5px;
    }
   
   .hyper:active {
    text-decoration: none;
	background: yellow;
    color: green; 
	border: 2px solid #800080;
	border-radius: 5px;